/* Global Styles */
.dashboard {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
}

/* Chat Styles */
.chat_container {
  width: 100vw;
  height: 100vh;
  background-color: #1E1E21;
}

/* Chat Navigation */
.Chat_Nav {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

.Chat_Nav>div {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Chat_Nav>div>div {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  text-align: right;
}

.profile_role {
  font-size: 12px;
  margin-top: -2px;
}

.profile-circle {
  width: 38px;
  height: 38px;
  background-color: white;
  border-radius: 100px;
  margin: 10px;
}

/* Conversations Box */
.conversations_box {
  width: 100%;
  height: 90%;
  padding: 50px;
  background-color: transparent;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px 10px 0 0;
}

.conversations {
  width: 100%;
  height: 90%;
  padding: 0 120px;
  overflow: scroll;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  /* transition: all 0.5s linear; */
}

.startConversation {
  width: 100%;
  height: 90%;
  padding: 0px 120px;
  overflow: scroll;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}


/* Query Box */
.Query_Box {
  width: 80%;
  background-color: #18181B;
  border-radius: 15px;
  border: 2px solid #2ffeca44;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  margin-bottom: 20px;
  position: relative;
}

.Query_Box > textarea {
  width: 100%;
  min-height: 60px;
  outline: none;
  background-color: transparent;
  color: white;
  padding: 10px 15px;
  margin-bottom: 0;
  resize: vertical;
  border: none;
  font-family: inherit;
  font-size: inherit;
  resize: none;
}


@keyframes sendquery{
  0%{
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
  }
  50%{
    width: 50%;
    background-color: rgba(255, 255, 255, 0.5);
  }
  100%{
    width: 2%;
    background-color: rgba(255, 255, 255, 1);
  }
}



/* Circular Elements */
.circle {
  width: 30px;
  height: 30px;
  color: white;
  cursor: pointer;
  animation: none;
}

/* Chat Bubble */
.chit_chat {
  width: auto;
  height: auto;
  font-size: 32px;
  font-weight: 500;
  font-family: "Noto Sans", sans-serif;
  word-spacing: 1px;
  background: linear-gradient(to right, #f32170, #ff6b08);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: gradientBackground 10s linear infinite;
}

#HELPUSER{
  background: white;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: 700;
}


@keyframes gradientBackground {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 100% 0%;
  }
}

.right {
  margin-left: auto;
}

/* Sidebar Styles */
.sidebar {
  width: 60px;
    height: 100%;
    background-color: #18181B;
    box-shadow: -6px 0px 20px black;
    padding: 8px;
    transition: width 1s ease-in;
    z-index: 2;
    position: relative;
    display: flex;
    justify-content: center;
}

.ham-menu {
  width: 32px;
  height: 32px;
  display: block;
  cursor: pointer;
}

.logout {
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  color: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 40px;
  cursor: pointer;
  transition: all 0.1s linear;
}

.logout:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.sidebar>div {
  width: 100%;
  height: 100%;
}

/* Message Styles */
.messages-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.message-wrapper {
  display: flex;
  margin: 8px 0;
  animation: fadeIn 0.3s ease-in-out;
}

.user-wrapper {
  justify-content: flex-end;
}

.bot-wrapper {
  justify-content: flex-start;
}

.message {
  max-width: 70%;
  padding: 10px 15px;
  border-radius: 20px;
  font-size: 16px;
  line-height: 1.6;
  margin: 20px 0;
}

.user {
  background-color: #ada4f770;
  color: white;
  border-bottom-right-radius: 5px;
  align-self: flex-end;
}

.assistant {
  background-color: #ada4f70f;
  color: white;
  border-bottom-left-radius: 5px;
  align-self: flex-start;
  word-wrap: break-word;
  white-space: pre-wrap;
}



/* Utility Classes */
.scroll-ref {
  height: 0;
  overflow: hidden;
}

.loading-message {
  padding: 20px;
  margin: 8px 0;
  width: 20%;
  /* margin-right: auto; */
  background: linear-gradient(to right, #f32170, #ff6b08, #9c27b0);
  border-radius: 50px;
  position: relative;
  overflow: hidden;
  /* margin-top: 40px; */
  height: 45px;
}

.loading-message::before {
  content: '';
  position: absolute;
  top: 0;
  right: -200%;
  width: 200%;
  height: 100%;
  background: linear-gradient(90deg,
      transparent 0%,
      rgba(255, 255, 255, 0.4) 50%,
      transparent 100%);
  animation: slideRight 1.5s infinite linear;
}

.loading-content {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 0 15px;
  position: absolute;
  z-index: 1;
  top: 10px;
}

.loading-text {
  color: white;
  font-size: 14px;
}

.loading-dots {
  display: flex;
  color: white;
}

.loading-dots span {
  animation: dots 1.5s infinite;
  opacity: 0;
}

.loading-dots span:nth-child(2) {
  animation-delay: 0.5s;
}

.loading-dots span:nth-child(3) {
  animation-delay: 1s;
}



/* Scrollbar Styles */
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #FF0000;
}

/* Animations */
.circle.animate {
  animation: send 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}



/* Keyframes */
@keyframes slideRight {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-150%);
  }
}

@keyframes dots {

  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes send {
  0% {
    margin-top: 0;
  }

  25% {
    margin-top: 5px;
  }

  75% {
    margin-top: -5px;
  }

  100% {
    margin-top: 0;
  }
}





/* Meddia Queries */
@media (max-width: 1025px) {
  .chit_chat{
    font-size: 28px;
  }
}

@media (max-width: 769px) {
  .chit_chat{
    font-size: 22px;
  }
  .conversations{
    padding: 0;
  }
  .message{
    font-size: 12px;
  }
  .startConversation{
    padding: 20px;
    text-align: centerS;
  }
}

@media (max-width: 426px) {
  .sidebar{
    display: none;
  }
  .conversations_box{
    padding: 20px;
    height: 80%;
    overflow: hidden;
  }
  .chit_chat{
    font-size: 22px;
    width: 125px;
  }

  .sidebar{
    padding: 10px;
  }
  .conversations{
    padding: 30px;
  }
  .loading-message{
    padding: 6px;
    height: 35px;
    margin-top: 15px;
    max-width: 60%;
  }
  .loading-text{
    font-size: 8px;
  }
  .loading-content{
    padding: 0;
  }
}

@media (max-width: 376px) {
  .startConversation{
    padding: 0;
  }
  .conversations{
    padding: 30px;
  }
  .profile_role{
    display: none;
  }
  .profile-name{
    display: none;
  }
}

@media (max-width: 321px) {
  .startConversation{
    padding: 0;
  }
  .message{
    max-width: 80%;
    margin: 10px 0;
  }
  
  .sidebar{
    display: none;
  }
}




.markdown-content {
  line-height: 1.6;
}

.markdown-content p {
  margin-bottom: 1em;
}

.markdown-content pre {
  background-color: #f4f4f4;
  padding: 1em;
  border-radius: 4px;
  overflow-x: auto;
}

.markdown-content code {
  font-family: 'Courier New', Courier, monospace;
}





.text_rendering {
  display: inline-block;
  vertical-align: middle;
}

.text_rendering span {
  animation: blink 0.5s infinite both;
  display: inline-block;
  width: 5px;
  margin: 0 2px;
  height: 20px;
  background-color: white;
  border-radius: 100px;
}
@keyframes blink {
  0%, 100% { opacity: 0; }
  50% { opacity: 1; }
}

