.Navbar{
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    z-index: 15;
}

.LogoImg{
    width: 100px;
    height: 80px;
}

.Links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Link{
    color: white;
    margin: auto 30px;
}

.Link:hover{
    border-bottom: 2px solid white;
}

.Signup{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 20px;
    color: white;
    padding: 20px;
    border: 2px solid #2FFECB;
    border-radius: 50px;
    margin: auto 10px;
    cursor: pointer;
    transition: all 0.5s;
}
.Signup:hover{
    box-shadow: 0px 2px 20px 0px #2FFECB;

}