.sidebar {
    width: 360px;
    height: 100%;
    background-color: #0B3E3A;
    box-shadow: -6px 0px 20px black;
    padding: 20px;
    transition: width 1s ease-in;
    z-index: 2;
}

.close{
    width: auto;
}

.ham-menu{
    width: 32px;
    height: 32px;
    display: block;
    cursor: pointer;
}

.addNoteSection{
    width: 100%;
    height: 60px;
    padding: 10px 0;
    margin: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.addNoteSectionClose{
    flex-direction: column;
}

.addNoteSection > img{
    width: 80px;
    height: 35px;
    margin-bottom: 10px;
}


.add{
    color: #2FFECB;
    cursor: pointer;
}
.add > svg{
    width: 32px;
    height: 32px;
}


.chats{
    width: 100%;
    height: auto;
}

.chats > div{
    color: white;
    font-size: 14px;
    margin: 10px 0;
    font-weight: bold;
    font-family: 'Poppins';
}
