.hero_section{
    width: 100%;
    height: 600px;
    background-image: url(../../assets/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 160px 0 0 0;
}

.head{
    color: white;
    font-size: 50px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin-bottom: 30px;
}

.sub_head{
    text-align: center;
    width: 650px;
    font-size: 16px;
    color: white;
}

.SignUp{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 20px;
    color: black;
    font-weight: 500;
    padding: 20px;
    background-color: #2ffecae8;
    border-radius: 50px;
    margin: auto 10px;
    transition: all 0.5s;
    cursor: pointer;
}

.SignUp:hover{
    background-color: #2ffecb;
    box-shadow: 0px 2px 20px 0px #2FFECB;
}

.Features{
    background-color: black;
    text-align: center;
}
.Headings{
    font-size: 40px;
    font-family:'Courier New', Courier, monospace;
    color: white;
}

.container
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px 0;
  background-color: black;
  height: auto;
}

.container .box
{
  position: relative;
  width: 320px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 30px;
  transition: 0.5s;
}

.container .box::before
{
  content:' ';
  position: absolute;
  top: 0;
  left: 50px;
  width: 50%;
  height: 100%;
  text-decoration: none;
  background: #fff;
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 0.5s;
}

.container .box::after
{
  content:'';
  position: absolute;
  top: 0;
  left: 50;
  width: 50%;
  height: 100%;
  background: #fff;
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 0.5s;
  filter: blur(30px);
}

.container .box:hover:before,
.container .box:hover:after
{
  transform: skewX(0deg);
  left: 20px;
  width: calc(100% - 90px);
  
}


/* 
  background: linear-gradient(315deg, #ffbc00, #ff0058)
  background: linear-gradient(315deg, #03a9f4, #ff0058) */

.container .box:nth-child(1):before,
.container .box:nth-child(1):after,
.container .box:nth-child(2):before,
.container .box:nth-child(2):after,
.container .box:nth-child(3):before,
.container .box:nth-child(3):after
{
  background: linear-gradient(315deg, #4dff03, #00d0ff)
}

.container .box span
{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  pointer-events: none;
}

.container .box span::before
{
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.1s;  
  animation: animate 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08)
}

.container .box:hover span::before
{
  top: -50px;
  left: 50px;
  width: 100px;
  height: 100px;
  opacity: 1;
}

.container .box span::after
{
  content:'';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.5s;
  animation: animate 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
  animation-delay: -1s;
}

.container .box:hover span:after
{
  bottom: -50px;
  right: 50px;
  width: 100px;
  height: 100px;
  opacity: 1;
}

@keyframes animate
{
  0%, 100%
  {
    transform: translateY(10px);
  }
  
  50%
  {
    transform: translate(-10px);
  }
}

.container .box .content
{
  position: relative;
  left: 0;
  padding: 20px 40px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(25px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1;
  transform: 0.5s;
  color: #fff;
  font-family: "Fredoka", sans-serif;
}

.container .box:hover .content
{
  left: -25px;
  padding: 60px 40px;
}

.container .box .content h2
{
  font-size: 2em;
  color: #fff;
  margin-bottom: 10px;
}

.container .box .content p
{
  font-size: 1.1em;
  margin-bottom: 10px;
  line-height: 1.4em;
}

.container .box .content a
{
  display: inline-block;
  font-size: 1.1em;
  color: #111;
  background: #fff;
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 700;
  margin-top: 5px;
}

.container .box .content a:hover
{
  background: #ffcf4d;
  border: 1px solid rgba(255, 0, 88, 0.4);
  box-shadow: 0 1px 15px rgba(1, 1, 1, 0.2);
}





.pricing{
  text-align: center;
  padding: 50px;
  background-color: black;
}

.cards{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
  flex-wrap: wrap;
}

.card{
  /* background-color: rgba(48, 50, 65, 0.3); */
  background: url(../../assets/Card_Background.jpg);
  width: 300px;
  height: 600px;
  /* border-top-left-radius: 200px;
  border-top-right-radius: 200px; */
  border-radius: 200px 200px 15px 15px;
  margin-bottom: 50px;
  transition: all 0.2s ease-out;
}

.card:hover{
  transform: scale(1.02);
}

#Free:hover{
  box-shadow: 0px 10px 20px 2px #00bcd44f;
}

#Premium:hover{
  box-shadow: 0px 10px 20px 2px #a737ec45;
}

#Premium_Pro:hover{
  box-shadow: 0px 10px 20px 2px #ee417b5b;
}

.card > div:nth-child(1){
  width: 100%;
  height: 300px;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  background-color: rgba(48, 50, 65, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card > div > div{
  width: 250px;
  height: 250px;
  border-radius: 100%;
  background-color: rgba(0, 188, 212, 0.31);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card > div > div > .price-tag{
  width: 220px;
  height: 220px;
  border-radius: 100%;
  background-color: #00bcd4;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.price-tag > div:nth-child(1){
  color: white;
  font-weight: bold;
  font-size: 46px;
  font-family: 'Courier New', Courier, monospace;
}

.price-tag > div:nth-child(2){
  color: white;
  font-size: 20px;
}

#free-lifetime{
  box-shadow: 0px 0px 20px 3px #00bcd4;
}

#per-month{
  background-color: #a737ec45;
  box-shadow: 0px 0px 20px 3px #a737ec45;
}

#per-month > .price-tag{
  background-color: #a637ec;
}

#per-annum{
  background-color: #ee417b5b;
  box-shadow: 0px 0px 20px 3px #ee417b5b;
}

#per-annum > div{
  background-color: #ee417c;
}

.price_title{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  font-family:'Poppins';
  font-weight: 500;
  letter-spacing: 2px;
  background: rgb(0,188,212);
  background: linear-gradient(180deg, rgba(0,188,212,0.5) 0%, rgba(0,212,255,0) 100%);
  border-bottom: 1px solid #79797996;
}

.provide{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 30px 10px;
}

.provide > p{
  margin: 0 10px;
}

.order{
  margin: auto;
  width: 150px;
  height: 50px;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#freemium{
  border: 2px solid #00bcd4;
}

#premium{
  border: 2px solid #a637ec;
}

#pro{
  border: 2px solid #ee417c;
}


.footer{
  width: 100%;
  height: 300px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px 100px;
}

.Agniv > img{
  width: 100px;
  height: 60px;
}

.footer_links{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.block{
  display: flex;
  flex-direction: column;
  width: 230px;
}

.block > a{
  display: inherit;
  flex-direction: column;
  font-size: 14px;
  font-weight: 200;
  margin: 10px 0;
}

.block > a:hover{
  text-decoration: underline;
}







@media (max-width:850px) {
  .footer{
    flex-direction: column;
    justify-content: center;
  }
  .Agniv{
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .block{
    text-align: center;
  }
}


@media (max-width:426px) {
  .head{
    font-size:30px;
    margin-bottom: 0;
  }
  .sub_head{
    visibility: hidden;
    width: 200px;
    font-size: 10px;
    font-weight: 100;
  }
  .SignUp{
    margin: 0;
  }
  .hero_section{
    height: 450px;
  }
  .footer_links{
    flex-direction: column;
    align-items: center;
  }
  .block{
    margin-bottom: 30px;
  }
  .cards{
    padding: 10px;
  }
  .Agniv{
    margin-top: 200px;
  }
}

@media (max-width: 376px) {
  .head{
    font-size: 25px;
  }
  .hero_section{
    height: 400px;
  }
}




@media (max-width:321px) {
  .head{
    font-size:  20px;
  }
  .hero_section{
    height: 350px;
  }
  .cards{
    padding: 0;
  }
}