.Dots1>img {
    width: 24px;
    height: 24px;
    left: 270px;
    top: 41px;
    position: absolute;
    transform: rotate(-90deg);
    transform-origin: 0 0;
}

.Chat {
    width: 310px;
    height: 58px;
    left: 30px;
    top: 208px;
    margin-top: 20px;
    position: relative;
}